@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

* {
  border-color: #e5e5e5;
}

body {
  background-color: #ffffff;
  color: #000000;
}